div{
    display:flex;
}
.small_div{
    width:200px;
    height:200px;
    margin:0px;
    padding:0px;
}

#div_1{
    background-color: aqua;
}

#div_2{
    background-color: blue;
}

#div_3{
    background-color: rgb(228, 10, 199);
}

#div_4{
    width:600px;
    height:200px;
    display: block;
    background-color: brown;
}

footer{
    max-width: 600px;
    font-size: small;
    font-style:italic;
}